html
  include /universal/header.pug
  body
    h1 Test
    canvas(id='test-chart', width='400', height='150')
    script(src='https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js')
    script.
      const results = !{results};
      console.log(results);
      const labels = [];
      const data = [];
      results.forEach((usage) => {
        data.push(usage.usage);
        labels.push(usage.cpu);
      });
      var ctx = document.getElementById('test-chart');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Usage',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMin: 100,
                        suggestedMax: 100
                    }
                }]
            }
        }
      });
